.parentcarouel {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cari {
    margin-bottom: 20px;
}

.parentcarouel h2 {
    margin-left: 35px;
}

.parentcarouel p {

    margin-left: 35px;
}

.parentcarouel div {
    margin-bottom: 30px;
}