:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

.card-aks {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  height: max-content !important;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card-aks {
    height: 350px;
  }

  .achi-list-founder {
    list-style: none !important;
    text-align: left !important;
  }
}

.card-aks:nth-child(1):before {
  background-image: url("../Assets/Team/t4.jpeg");
  background-size: cover;
}
.card-aks:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card-aks:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 2.3rem !important;
  font-weight: bold;
  line-height: 1.2;
}

.title-alt {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.card-aks:after {
  transform: translateY(0);
}

.content {
  transform: translateY(calc(100% - 4.5rem));
}
.content > *:not(.title) {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}


.card-aks:hover,
  .card-aks:focus-within {
    align-items: center;
  }
  .card-aks:hover:before,
  .card-aks:focus-within:before {
    transform: translateY(-4%);
  }
  .card-aks:hover:after,
  .card-aks:focus-within:after {
    transform: translateY(-50%);
  }
  .card-aks:hover .content,
  .card-aks:focus-within .content {
    transform: translateY(0);
  }
  .card-aks:hover .content > *:not(.title),
  .card-aks:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card-aks:focus-within:before,
  .card-aks:focus-within:after,
  .card-aks:focus-within .content,
  .card-aks:focus-within .content > *:not(.title) {
    transition-duration: 0s;}

.copy-alt {
  font-size: 1.125rem;
  line-height: 1.35;
}

/* @media (hover: hover) and (min-width: 600px) {
  .card-aks:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card-aks:hover,
  .card-aks:focus-within {
    align-items: center;
  }
  .card-aks:hover:before,
  .card-aks:focus-within:before {
    transform: translateY(-4%);
  }
  .card-aks:hover:after,
  .card-aks:focus-within:after {
    transform: translateY(-50%);
  }
  .card-aks:hover .content,
  .card-aks:focus-within .content {
    transform: translateY(0);
  }
  .card-aks:hover .content > *:not(.title),
  .card-aks:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card-aks:focus-within:before,
  .card-aks:focus-within:after,
  .card-aks:focus-within .content,
  .card-aks:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
} */

.achi-list-founder {
  list-style: none !important;
  text-align: left !important;
}

.achi-list-founder li {
  margin-bottom: 4px;
}
